{{- if .Values.rbac.create -}}
apiVersion: {{ include "k8s-chaos.rbacApiVersion" . }}
kind: ClusterRole
metadata:
  name: {{ include "k8s-chaos.fullname" . }}-manager-role
  labels:
    {{- include "k8s-chaos.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - patch
- apiGroups:
  - ""
  resources:
  - pods/ephemeralcontainers
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods/eviction
  - pods/exec
  verbs:
  - create
- apiGroups:
  - chaos.gushchin.dev
  resources:
  - chaosexperimenthistories
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - chaos.gushchin.dev
  resources:
  - chaosexperiments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - chaos.gushchin.dev
  resources:
  - chaosexperiments/finalizers
  verbs:
  - update
- apiGroups:
  - chaos.gushchin.dev
  resources:
  - chaosexperiments/status
  verbs:
  - get
  - patch
  - update
{{- end }}